.navbar {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 80px;

}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-navlist {
  display: flex;
  gap: 40px;
}

.navbar-navlink {
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar-navlink:hover {
  color: #2c9765;
}