.user-layout {
    margin: auto;
    padding: 40px;
    display: flex;
    gap: 40px;
}

.user-informations {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 400px;
}

.user-plants {
    width: 100%;
}