.avatar {
    border-radius: calc(infinity * 1px);
    object-fit: cover
}

.avatar-s {
    width: 16px;
    height: 16px;
}

.avatar-m {
    width: 32px;
    height: 32px;
}

.avatar-l {
    width: 64px;
    height: 64px;
}