.plant-layout {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    padding: 20x;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plant-header {
    display: flex;
    justify-content: space-between;
}

.plant-header-right {
    text-align: right;
    padding: 20px;
}

.plant-content {
    padding: 40px;
}

.plant-content-adoptable {
    text-align: right;
}

.plant-footer {
    display: flex;
    justify-content: center;
}