.plantcard {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 20px;
}

.plantcard-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}